###################################
##### Global Protection Rule ######
###################################
# Catch-all rule for all files not covered by more specific rules.
*                                              @hiero-ledger/hiero-enterprise-java-maintainers @hiero-ledger/hiero-enterprise-java-committers